/* Universal selector */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  display: inline;
  align-items: center;
  margin-left: 2vw;
  font-weight: bolder;
}

p {
  font-family: 'Courier New', Courier, monospace;
}

/* Navbar */
.customNav {
  position: fixed;
  width: 100%;
  background-color: rgb(15, 15, 15);
  background-size: cover;
  z-index: 10;
}

.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}

.navbar-brand img {
  border-radius: 50%;
  border: 0.1vmax solid rosybrown;
  filter: drop-shadow(0 0 1vmax rosybrown);
  width: 3.5vmax;
  height: 3.5vmax;
  align-items: center;
  margin-left: 2vmax;
}

.nav-item {
  margin: 0px 15px;
}

.dropdown-menu {
  background-color: rgb(15, 15, 15);
  background-size: cover;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background: black;
}

.customNav a {
  color: white !important;
}

.navCTA {
  font-size: 1rem;
}

.nav-link {
  margin-right: 1.5vw;
}

body {
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #181818 !important;
}

/* Jumbotron */
.jumbotron,
.laptopBackground {
  background-image: url(../images/jumbotron-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  height: calc(100vh - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumboCopy {
  width: 70%;
  max-width: 700px;
  color: white;
  text-align: center;
  background-color: rgba(15, 15, 15, 0.9);
  padding: 2vh;
  box-shadow: 0 0 15px 20px rgba(15, 15, 15, 0.9);
}

/* Cards */
.cardContainer {
  margin-bottom: 15px;
}
.card {
  margin: 0 auto;
}

/* Signup form */
.signUp form {
  margin: 35px auto;
  background-color: #f2f2f2;
  padding: 25px;
  border-radius: 7px;
}

/* Footer */
footer {
  position: absolute;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  margin-top: 50px;
}

/* Media queries */

/* Xx-Small devices */
@media screen and (max-width: 360px) {
  .display-4 {
    font-size: 30px;
  }
  .lead {
    font-size: 14px;
  }
}

/* X-Small devices */
@media screen and (min-width: 361px) {
  .display-4 {
    font-size: 40px;
  }
  .lead {
    font-size: 18px;
  }
}

/* Small devices */
@media screen and (min-width: 576px) {
  .display-4 {
    font-size: 50px;
  }
  .lead {
    font-size: 22px;
  }
}

/* Medium devices */
@media screen and (min-width: 768px) {
  .display-4 {
    font-size: 56px;
  }
  .lead {
    font-size: 28px;
  }
}